In [42]:
import pandas as pd
import numpy as np
import os,sys

In [43]:
sys.path.append(os.path.abspath(os.path.join('..')))
from scripts.eda import EDA

In [44]:
# reading the csv file
missing_values = ["n/a", "na", "undefined"]
df = pd.read_csv("../data/store.csv", na_values=missing_values)
eda = EDA(df)
df

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [45]:
eda.has_missing_values()

True

In [46]:
eda.view_missing_values()

AttributeError: 'EDA' object has no attribute 'view_missing_values'

In [30]:
# missing_values = ["n/a", "na", "undefined"]
# df = pd.read_csv("../data/test.csv", na_values=missing_values)
# eda = EDA(df)
# df.isnull().sum()

In [15]:
# missing_values = ["n/a", "na", "undefined"]
# df = pd.read_csv("../data/train.csv", na_values=missing_values)
# eda = EDA(df)
# df.isnull().sum()

In [16]:
# missing_values = ["n/a", "na", "undefined"]
# df = pd.read_csv("../data/sample_submission.csv", na_values=missing_values)
# eda = EDA(df)
# df

In [17]:
eda.data_describe(size=True)

(1115, 10)

In [18]:
eda.data_describe(describe=True)

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

In [1]:
# eda.data_describe(info=True)